DB_USER=tixplus_admin
DB_PASSWORD=SenhaSegura123!
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tixplus_db

JWT_SECRET=YcIs..

STRIPE_SECRET_KEY=sk_test_5..
STRIPE_PUBLISHABLE_KEY=pk_test_5..
STRIPE_WEBHOOK_SECRET=whsec_e..